.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist
/quasar.config.*.temporary.compiled*

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# local .env files
.env.local*
src/assets/Dante/Dante1.jpeg
src/assets/Dante/Dante3.jpeg
src/assets/Dante/Dante4.jpeg
src/assets/Dante/Dante5.jpeg
src/assets/Dante/Dante6.jpeg
src/assets/Dante/Dante7.jpeg
src/assets/Logos/logo_1_no_background.png
src/assets/Logos/logo_1.jpg
src/assets/Logos/logo_2.jpg
src/assets/Logos/logo_3.jpg
src/assets/Logos/logo_4.jpg
src/assets/Logos/logo_5.jpg
src/assets/Logos/logo_5.png
src/assets/Logos/logo_head.jpg
src/assets/about-us/kris2_square.png
src/assets/about-us/alex2.png
src/assets/about-us/alex2_square.png
src/assets/about-us/Alex_square.png
src/assets/about-us/scooter_square.png
src/assets/about-us/kris.png
